*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.carousel-caption{
    bottom: 4.25rem;
}

@media only screen and (max-width:240px){
    .carousel-caption h2,p{
        display: none;
    }
    .direct_about{
        display: block;
    }
}